/dts-v1/;

#include "msm8939-pm8916.dtsi"

/ {
	model = "Asus ZenFone 2 Laser/Selfie (1080p)";
	compatible = "asus,z00t", "qcom,msm8939";
	chassis-type = "handset";

	aliases {
		serial0 = &blsp_uart2;
	};

	chosen {
		stdout-path = "serial0";
	};
};