/dts-v1/;

#include "msm8939-pm8916.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	model = "Asus ZenFone 2 Laser/Selfie (1080p)";
	compatible = "asus,z00t", "qcom,msm8939";
	chassis-type = "handset";

	aliases {
        mmc0 = &sdhc_1;
		serial0 = &blsp_uart2;
	};

	chosen {
		stdout-path = "serial0";
	};

    usb_id: usb-id {
		compatible = "linux,extcon-usb-gpio";
		id-gpios = <&tlmm 110 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&usb_id_default>;
		pinctrl-names = "default";
	};
};

&sdhc_1 {
	status = "okay";
};

&tlmm {
	usb_id_default: usb-id-default-state {
		pins = "gpio110";
		function = "gpio";

		drive-strength = <8>;
		bias-pull-up;
	};
};

